{:deps    {org.clojure/clojure      {:mvn/version "1.10.1"}
           clj-python/libpython-clj {:mvn/version "1.44"}}

 :aliases {:nREPL {:extra-deps {nrepl/nrepl {:mvn/version "0.7.0"}}
                   :main-opts  ["-m" "blender-clj.nrepl-cmdline"]}}}
